// Colores

$color-texto-principal: #3B2416;
$color-secundario: #8C4930;
$color-texto-suave: #5C514A;
$color-verde: #02590f;

$color-header: #f0ad8e;
$color-fondo-main: #f4e9db;
$color-footer: #d4e0d6;

$color-box1: #C9785D;
$color-box2: #D99A72;
$color-box3: #D4AA62;
$color-box4: #8FA88A;
$color-box6: #829DA8;

// Tipografía

$fuente-principal: "Open Sans", sans-serif;

// Breakpoint (2 diferentes)

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;


$color-focus: rgba(2, 89, 15, 0.25);
$color-control-carousel: rgba(59, 36, 22, 0.7);