@use "../utilities/variables" as *;

header {
    min-height: auto;
    background-color: $color-header;
    padding-bottom: 20px;

    p {
        text-align: center;
        width: 100%;
        padding-top: 20px;
    }
}